[user]
	name = Daan Rijks
	email = daanrijks@gmail.com
[core]
	autocrlf = input
	safecrlf = true
	askpass = 
[alias]
    co = checkout
    cm = commit -m
    st = status
    ap = add -p
    br = branch
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short

    mkbr = checkout -b
    pull-sub = !git pull --recurse-submodules && git submodule update --recursive
[credential]
	helper = cache
[push]
	default = simple
