[user]
    name = Daan Rijks
    email = daanrijks@gmail.com
[core]
    autocrlf = input
    safecrlf = true
    askpass = 
[alias]
    ps = push
    pl = pull
    co = checkout
    c = commit
    cm = commit -m
    ce = commit -e
    st = status
    a = add
    ap = add -p
    br = branch
    graph = log --graph --oneline --all
    hist = log --pretty=format:'%h | %s%d [%an]' --graph --date=short

    mkbr = checkout -b
    pull-sub = !git pull --recurse-submodules && git submodule update --recursive
[credential]
    helper = cache
[push]
    default = simple
[diff]
    algorithm = histogram
